{{!< default}}

<div class="barba-container">
	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	{{#if feature_image}}
		<div class="c-hero c-hero--half" style="background-image: url({{feature_image}})">
			<h1 class="h1 c-hero__title js-fade-in-up">{{title}}</h1>
		</div>
	{{/if}}

	<div class="h-fill-vertical wysiwyg-content">
		{{content}}
	</div>

	{{/post}}

	{{> "footer"}}
</div>

