{{!< default}}

<div class="barba-container">
	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	{{#if feature_image}}
		<div class="c-hero c-hero--half" style="background-image: url({{feature_image}})">
			<h1 class="h1 c-hero__title js-fade-in-up">{{title}}</h1>
		</div>
	{{/if}}

	<div class="l-content-wrap l-wrapper l-wrapper--medium h-fill-vertical wysiwyg-content">
		{{content}}

		<div>
			<form id="contact-form" class="c-form" action="https://formspree.io/bethanyallenphoto@gmail.com" method="POST">
				<div class="c-form__control">
					<label for="name">Name</label>
					<input id="name" type="text" name="name" required>
				</div>

				<div class="c-form__control">
					<label for="email">Email</label>
					<input id="email" type="email" name="email" required>
				</div>

				<div class="c-form__control">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="10"></textarea>
				</div>

				<input class="c-form__submit" type="submit" value="Send">
			</form>
		</div>
	</div>

	{{/post}}
</div>

