{{!< default}}

<div class="barba-container post_view" data-namespace="post_view">
	{{!-- Everything inside the #post tags pulls data from the post --}}
	{{#post}}

	{{#if feature_image}}
		<div class="c-hero" style="background-image: url({{feature_image}})">
			<h1 class="h1 c-hero__title js-fade-in-up">{{title}}</h1>
		</div>
	{{/if}}

	<div class="h-fill-vertical wysiwyg-content">
		{{content}}
	</div>

	<div class="l-wrapper l-wrapper--medium l-content-wrap">
		<div class="c-share">
			<h3 class="c-share__title">Share Post</h3>
			<div id="share-fb" class="c-share__action" aria-label="Share On Facebook">{{> 'icons/facebook'}}</div>
		</div>
	</div>

	<aside>
		{{#prev_post in="primary_tag"}}
			{{> "next-photo-card"}}
		{{/prev_post}}
	</aside>

	{{/post}}
</div>

