//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------

//-----------------------------------------
// Global
//-----------------------------------------
$global-width: 1120px;
$global-content-width: 830px;
$global-padding: 20px;

//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-medium: 640px;
$mq-tablet: 768px;
$mq-full: 960px;
$mq-laptop: 1024px;
$mq-global-width: $global-width;
$mq-laptop-medium: 1280px;
$mq-laptop-large: 1440px;
$mq-retina: 2000px;


//-----------------------------------------
// Colors
//-----------------------------------------
$color-grey-dark: #4F4F4F;
$color-grey-medium: #C4C4C4;
$color-grey-light: #E5E5E5;
$color-theme-black: #000000;
$color-theme-white: #FFFFFF;
$color-plum: #8F3985;


//-----------------------------------------
// Fonts
//-----------------------------------------
$font-heading: 'Playfair Display', serif;
$font-body: 'Montserrat', sans-serif;

// Weights
$font-weight-light: 300; // Montserrat
$font-weight-regular: 400; // Playfair Display
