//--------------------------------------------------------------
// WYSIWYG CONTENT
//--------------------------------------------------------------
.wysiwyg-content {
	padding-top: 100px;

	& > *:not(.kg-card) {
		margin: 0 auto $global-padding;
		max-width: $global-content-width;
		padding: 0 $global-padding;
	}

	p {
		font-size: 18px;
		line-height: 1.5;
	}

	hr {
		margin: 0 auto $global-padding;
		max-width: $global-content-width;
	}
}

// Headings
.wysiwyg-content {
	h1 {
		@extend .h1;

		margin-bottom: 25px;
	}

	h2 {
		@extend .h2;

		margin-bottom: $global-padding;
	}
}

// Lists
.wysiwyg-content {
	ul,
	ol {
		li {
			margin-bottom: 10px;
		}
	}

	ul {
		list-style: circle;
	}
}

// Images
.wysiwyg-content {
	img {
		display: block;
		width: auto;
	}

	p {
		& > img {
			margin: 0 auto;
			max-height: calc(100vh - 100px);
		}
	}
}

// Ghost Media Classes
figure {
	margin: 0 auto $global-padding;

	figcaption {
		color: $color-grey-medium;
		display: block;
		font-size: 14px;
		padding-top: 5px;
		text-align: center;
		width: 100%;
	}

	&.kg-image-card {
		max-width: $global-content-width + 100px;

		img {
			display: block;
			margin: 0 auto;
			max-height: calc(100vh - 100px);
		}
	}

	&.kg-width-wide,
	&.kg-width-full {
		img {
			@include mq($mq-full) {
				max-height: initial;
			}
		}
	}

	&.kg-width-wide {
		@include mq($mq-full) {
			max-width: $global-width;
		}
	}

	&.kg-width-full {
		@include mq($mq-full) {
			max-width: 100%;
		}
	}
}

// Gallery Component
.kg-gallery-container {
	.kg-gallery-row {
		@include mq($mq-full) {
			display: grid;
			grid-gap: 10px;
			grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
			grid-template-rows: minmax(250px, 500px);
			margin-bottom: 10px;
		}

		.kg-gallery-image {
			@include mq($mq-full) {
				display: flex;
			}

			img {
				margin: 0 auto;

				@include mq($mq-full) {
					height: initial;
					margin: 0;
					max-height: initial;
					object-fit: cover;
				}
			}
		}
	}
}
