//--------------------------------------------------------------
// WRAPPERS
//--------------------------------------------------------------
.l-wrapper {
	margin: 0 auto;
	max-width: $global-width;
	width: 100%;

	&--medium {
		max-width: $global-content-width;
	}
}
